body {
  padding: 0;
  background: linear-gradient(30deg, rgb(151, 250, 209), hsl(180, 60%, 73%));
  color: rgb(68, 68, 68);
}

header {
  position: static;
}

body {
  background-color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: block;
  width: 38rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

textarea {
  resize: vertical;
  min-height: 6.25rem;
  max-height: 18rem;
}

input:focus,
textarea:focus {
  background-color: rgb(245, 240, 250);
  color: rgb(29, 2, 48);
  border-color: rgb(29, 2, 48);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

hr {
  padding: 0.05rem;
  color: black;
  background-color: black;
}

#password-container {
  display: flex;
  align-items: center;
  position: relative;
}

#userpassword {
  padding-right: 30px;
  flex: 1;
}

#showpasswordicon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  z-index: 1;
}

#gender option[value="selectgender"] {
  display: none;
}

footer {
  margin-top: auto;
}

/* 320px — 480px: Mobile devices */
@media (max-width: 480px) {

  form {
    width: 80%;
  }

  main ul {
    width: 100%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  h2 {
    font-size: 1rem;
  }

  label {
    font-size: 0.875rem;
  }

  header {
    padding: 0.625rem 1.25rem;
    margin: 0.2rem;
  }

  #page-logo a {
    font-size: 1.2rem;
  }

  header a {
    font-size: 1.2rem;
  }

  footer li {
    width: 50px;
    height: 50px;
  }

  header a {
    display: none;
  }

  .menu-btn {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
  }
}

/* 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  header a {
    display: none;
  }

  form {
    width: 80%;
  }

  .menu-btn {
    display: flex;
    width: 2.3rem;
    height: 2.3rem;
  }

  main ul {
    grid-template-columns: 100%;
    margin: auto;
    width: 100%;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #page-logo a {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}

/* 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  main {
    margin-bottom: 2.5rem;
  }

  main ul {
    width: 100%;
    margin: auto;
  }

  h2 {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  header {
    padding: 0.9375rem 1.875rem;
  }

  #page-logo a {
    font-size: 2rem;
  }

  header a {
    font-size: 1.25rem;
  }

  footer li {
    width: 60px;
    height: 60px;
  }

  #side-drawer {
    display: none;
  }

  .menu-btn {
    display: none;
  }
}

/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  main ul {
    width: 100%;
    margin: auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    padding: 0.975rem 2.75rem;
  }

  #page-logo a {
    font-size: 2.5rem;
  }

  header a {
    font-size: 1.5rem;
  }

  footer li {
    width: 70px;
    height: 70px;
  }

  .menu-btn {
    display: none;
  }
}

