body {
  padding: 0;
  background: linear-gradient(30deg, rgb(151, 250, 209), hsl(180, 60%, 73%));
  color: rgb(68, 68, 68);
}

header {
  position: static;
}

body {
  background-color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: block;
  width: 38rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

textarea {
  resize: vertical;
  min-height: 6.25rem;
  max-height: 18rem;
}

input:focus,
textarea:focus {
  background-color: rgb(245, 240, 250);
  color: rgb(29, 2, 48);
  border-color: rgb(29, 2, 48);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

hr {
  padding: 0.05rem;
  color: black;
  background-color: black;
}

#password-container {
  display: flex;
  align-items: center;
  position: relative;
}

#userpassword {
  padding-right: 30px;
  flex: 1;
}

#showpasswordicon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  z-index: 1;
}

#gender option[value="selectgender"] {
  display: none;
}

footer {
  margin-top: auto;
}

@media (max-width: 48rem) {
  #page-logo a {
    font-size: 1.5rem;
  }

  header a {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}
