body {
  background: linear-gradient(30deg, rgb(253, 118, 118), #cfdf74);
  color: rgb(68,68,68);
}

#page-logo a {
  color: rgb(142, 225, 235);
}

header {
  position: static;
}

header a {
  color: rgb(142, 225, 235);
  text-shadow: 1px 1px 2px rgb(45, 85, 92);
}

header nav a:hover {
  background-color: rgb(120, 225, 236);
  color: rgb(59,59,59);
}

main ul{
  width: 75rem;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  list-style-type: none;
}

li:nth-of-type(1) {
  grid-column:1/span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

main li:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

main li img {
  width: 18.75rem;
  height: 17.5rem;
  object-fit: cover;
}

.item-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration:none;
  padding: 6px;
  color: rgb(53, 212, 226);
  border-radius:5px ;
}

.actions a:hover {
  background-color: rgb(216, 235, 236);
}

@media (max-width: 48rem) {
  #page-logo a{
    font-size:1.5rem;
  }

  header a{
  display:none;
  }

  main li{
    margin: auto;
    padding: 0;
  }

  main ul {
    grid-template-columns: 100%;
    margin: auto;
  }

  h2 {
    font-size: 1.1rem;
  }

  .item-content p {
    font-size: 1rem;
  }

  .item-content {
    width:50rem;
    height: 10rem;
  }

  li:nth-of-type(1) {
    grid-column:1/span 1;
  }
}
