body {
  background: linear-gradient(30deg, rgb(253, 118, 118), #cfdf74);
  color: rgb(68, 68, 68);
}

#page-logo a {
  color: rgb(142, 225, 235);
}

header {
  position: static;
  background-color: transparent;
  border-bottom: transparent;
  margin-bottom: 2.5rem;
}

header a {
  color: rgb(146, 226, 235);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

main ul {
  width: 75rem;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  list-style-type: none;
}

li:nth-of-type(1) {
  grid-column: 1 / span 2;
}

li:nth-of-type(10) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}

main li:hover {
  transform: scale(1.01);
  z-index: 2;
}

main li img {
  width: 18.75rem;
  height: 17.5rem;
  object-fit: cover;
  image-rendering: pixelated;
}

.item-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(53, 212, 226);
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgb(216, 235, 236);
}

/* 320px — 480px: Mobile devices */
@media (max-width: 480px) {
  body {
    font-size: 14px; /* Adjust body font size for better readability */
  }

  main ul {
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0;
    grid-template-columns: 100%;
    gap: 10px;
  }


  main li {
    margin: 20px auto;
    padding: 0.1rem;
    flex-direction: column;
  }

  main li img {
    width: 100%;
    height: 13rem;
    border-radius: 5px;
  }

  .item-content {
    padding: 1rem;
  }

  .item-content h2 {
    font-size: 1.2rem;
  }

  .item-content p {
    font-size: 0.875rem;
  }

  header {
    padding: 0.625rem 1.25rem;
    margin: 0.2rem;
  }

  li:nth-of-type(1),
  li:nth-of-type(10) {
    grid-column: initial;
  }

  #page-logo a {
    font-size: 1.2rem;
  }

  header a {
    font-size: 1.2rem;
  }

  footer li {
    width: 50px;
    height: 50px;
  }

  header a {
    display: none;
  }

  .menu-btn {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
  }

}

/* 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  #page-logo a {
    font-size: 1.5rem;
  }

  header a {
    display: none;
  }

  .menu-btn {
    display: flex;
    width: 2.3rem;
    height: 2.3rem;
  }

  main ul {
    grid-template-columns: 100%;
    margin: auto;
    width: 90%;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  main li {
    margin: 20px auto;
    padding: 0.1rem;
    flex-direction: column;
    max-width: calc(100% -40px);
  }

  li:nth-of-type(1),
  li:nth-of-type(10) {
    grid-column: initial;
  }

  main li img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  #page-logo a {
    font-size: 1.5rem;
  }

  .item-content {
    padding: 1rem;
  }

  .item-content h2 {
    font-size: 1.25rem;
  }

  .item-content p {
    font-size: 1rem;
  }
}

/* 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  main {
    margin-bottom: 2.5rem;
  }

  main ul {
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  main li {
    max-width: 100%;
  }

  main li img {
    width: 50%;
    height: 23.1rem;
    border-radius: 5px;
  }

  li:nth-of-type(1),
  li:nth-of-type(10) {
    grid-column: initial;
  }

  .item-content {
    padding: 1rem;
  }

  .item-content h2 {
    font-size: 1.2rem;
  }

  .item-content p {
    font-size: 0.8rem;
  }

  header {
    padding: 0.9375rem 1.875rem;
  }

  #page-logo a {
    font-size: 2rem;
  }

  header a {
    font-size: 1.25rem;
  }

  footer li {
    width: 60px;
    height: 60px;
  }

  #side-drawer {
    display: none;
  }

  nav ul {
    display: flex;
  }

  .menu-btn {
    display: none;
  }
}

/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  main {
    margin-bottom: 2.5rem;
  }

  main ul {
    width: 90%;
    margin: auto;
    gap: 20px;
  }

  main li img {
    width: 50%;
    height: 100%;
  }

  .item-content {
    padding: 0.9rem;
  }

  .item-content h2 {
    font-size: 1rem;
  }

  .item-content p {
    font-size: 0.85rem;
  }

  header {
    padding: 0.975rem 3.75rem;
  }

  #page-logo a {
    font-size: 2.5rem;
  }

  header a {
    font-size: 1.5rem;
  }

  footer li {
    width: 70px;
    height: 70px;
  }

  .menu-btn {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1325px) {
  main {
    margin-bottom: 2.5rem;
  }

  main ul {
    width: 90%;
    margin: auto;
    gap: 20px;
  }

  main li img {
    width: 50%;
    height: 100%;
  }

  .item-content {
    padding: 1rem;
  }

  .item-content h2 {
    font-size: 1.4rem;
  }

  .item-content p {
    font-size: 1.1rem;
  }
}
