body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 3.75rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#page-logo a {
  padding: 0.625rem;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 3.125rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  transition: transform 0.5s ease;
  display: inline-block;
}

#page-logo a:hover {
  transform: scale(1.03);
}

header ul {
  display: flex;
}

header li {
  margin-left: 1.25rem;
}

header a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.75rem;
  text-shadow: 1px 1px 2px rgba (0, 0, 0, 0.2);
  border-radius: 6px;
}

header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 2.25rem 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0 3.125rem;
}

footer img {
  width: 100%;
  height: 100%;
}
