body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 3.75rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#page-logo a {
  padding: 0.625rem;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 3.125rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  transition: transform 0.5s ease, filter 0.3s ease;
  display: inline-block;
  will-change: transform;
}

#page-logo a:hover {
  transform: scale(1.03);
}

header ul {
  display: flex;
}

header li {
  margin-left: 1.25rem;
}

header a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.75rem;
  text-shadow: 1px 1px 2px rgba (0, 0, 0, 0.2);
  border-radius: 6px;
}

header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 2.25rem 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0 3.125rem;
}

footer img {
  width: 100%;
  height: 100%;
}


.menu-btn {
  width:3rem;
  height:3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  transition: transform 0.5s ease;
}

.menu-btn:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.menu-btn span {
  width: 100%;
  height:0.1875rem;
  background-color: white;
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29,26,27);
  position: fixed;
  top: 0;
  left: 0; 
  display:none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: rgb(253,239,213);
  text-decoration: none;
  display:flex;
  font-size: clamp(3rem, 8vw, 8rem);
  padding: clamp(0.25rem,0.5vw, 1rem) 0rem;
}

#side-drawer ul li a {
  opacity: 1;
  transition: opacity 0.3s ease;
}

#side-drawer ul li:hover a {
  opacity: 1;
}

#side-drawer ul:hover li a:not(:hover) {
  opacity: 0.3;
}

/* Not really how i wanted this to work ^ but it'll do for now I guess*\
/*This is for the items in menu button 768px and less*\