#hero {
  height: 800px;
  background-image: url("../images/index/baykland-lake.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68,67,67);
  border-radius: 8px;
  text-align: center;
  padding: 3.125rem 0;
  margin: 0px auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3.125rem;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 0.75rem 1.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68,67,67);
}

#hero-content a:hover {
    background-color: rgb(255,238,0);
}

#highlights {
  padding: 1.5rem;
  background: linear-gradient(0deg,rgb(185, 238, 177),rgb(202,243,240));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(59,65,64);
  margin: 1.5rem 0;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.destination {
  margin: 0 1.25rem;
}

.destination img {
  height: 220px;
  width: 310px;
  box-shadow: 2px 4px 8px rgb(68,67,67);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.destination img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(124,123,123);
  margin: 1.25rem;
}

.destination strong {
  color: rgb(38, 146, 117);
}

.menu-btn {
  width:3rem;
  height:3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  transition: transform 0.5s ease;
}

.menu-btn:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.menu-btn span {
  width: 100%;
  height:0.1875rem;
  background-color: white;
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29,26,27);
  position: fixed;
  top: 0;
  left: 0; 
  display:none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: rgb(253,239,213);
  font-size: 2rem;
}

@media (max-width: 48rem) {
  #page-logo a{
    font-size:1.5rem;
  }

  header a{
  display:none;
  }

  .menu-btn {
    display:flex;
  }
}


