header {
  background-color: rgba(180, 222, 241, 0.8);
  border-bottom: 2px solid rgba(180, 222, 241, 0.8);
}

#hero {
  height: 800px;
  background-image: url("../images/index/baykland-lake.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 3.125rem 0;
  margin: 0px auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3.125rem;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 0.75rem 1.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#highlights {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(185, 238, 177), rgb(202, 243, 240));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(59, 65, 64);
  margin: 1.5rem 0;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.destination {
  margin: 0 1.25rem;
}

.destination img {
  height: 220px;
  width: 310px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
  will-change: transform;
}

.destination img:hover {
  transform: scale(1.1);
  filter: blur(0);
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(124, 123, 123);
  margin: 1.25rem;
}

.destination strong {
  color: rgb(38, 146, 117);
}

/* 320px — 480px: Mobile devices */
@media (max-width: 480px) {

  header {
    padding: 0.5rem 1rem;
    align-items: center;
  }

  #page-logo a {
    font-size: 1.2rem;
  }

  nav ul {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  #hero {
    height: 400px;
    background-size: cover;
  }

  #hero-content {
    width: 70%;
    padding: 2rem 1rem;
    top: 9.5rem;
  }

  #hero-content h1 {
    font-size: 1rem;
  }

  #hero-content p, #hero-content a {
    font-size: 0.7rem;
  }

  #highlights {
    padding: 1rem;
  }

  #highlights h2 {
    font-size: 1.5rem;
  }

  #destinations {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .destination {
    margin: 1rem 0;
    width: 90%;
  }

  .destination img {
    width: 100%;
    height: auto;
  }

  .destination p {
    font-size: 1.2rem;
  }

  footer li {
    width: 50px;
    height: 50px;
  }

  .menu-btn {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
  }
}

/* 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  #hero {
    height: 400px;
    background-size: contain;
  }

  #hero-content {
    width: 90%;
    padding: 1rem 0;
    top: 10rem;
  }

  #hero-content h1 {
    font-size: 2rem;
  }

  #hero-content p,
  #hero-content a {
    font-size: 1rem;
  }

  #highlights {
    padding: 1rem;
  }

  #highlights h2 {
    font-size: 2rem;
  }

  #destinations {
    flex-direction: column;
  }

  .destination {
    margin: 1rem 0;
  }

  .destination img {
    height: 365px;
    width: 100%;
  }
  .destination img:hover {
    transform: scale(1);
  }

  .destination p {
    font-size: 1.5rem;
  }

  #page-logo a {
    font-size: 1.5rem;
  }

  nav ul {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}

/* 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 1rem 2rem;
  }

  #page-logo a {
    font-size: 2rem;
  }

  nav ul {
    display: flex;
  }

  header a {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
  }

  #hero {
    height: 600px;
    background-size: cover;
  }

  #hero-content {
    width: 80%;
    padding: 3.5rem 0;
    top: 11rem;
  }

  #hero-content h1 {
    font-size: 2.8rem;
  }

  #hero-content p,
  #hero-content a {
    font-size: 1.5rem;
  }

  #highlights {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #highlights h2 {
    font-size: 2.2rem;
  }

  #destinations {
    flex-direction: row;
    justify-content: space-between;
  }

  .destination {
    margin: 0;
    width: calc(33.333% - 2rem);
  }

  .destination img {
    width: 100%;
    height: 9.75rem;
  }

  .destination p {
    font-size: 1.05687rem;
  }
}

/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}